
/*ウィンドウ幅が最大767pxまでの場合に適用**/
@media screen and (max-width: 767px) {
    .container{
        width: 300px;
    }
    .left{
        width: 100px;
    }
    .center-right{
        width: 200px;    
    }
    .center-a{
        width: 125px;
    }
    .center-c{
        width: 200px;
    }
    .right{
        width: 75px;
    }
}

/*ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (max-width: 479px) {
    .container{
        width: 150px;
    }
    .wrappar{
        width: 150px;
    }
    .center-right{
        float: none;
        width: 150px;
    }
    .left{
        width: 150px;
        float: none;
    }
    .center-a{
        float: none;
        width: 150px;
    }
    .center-c{
        float: none;
        width: 150px;
    }
    .right{
        float: none;
        width: 150px;
    }
    
}