ul.colored{
    background-color: aqua;
}
body{
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    width: 400px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/**header**/
.header{
    height: 100px;
    background-color: #141f40;
}
/**end of header**//**wrapper**/
.wrappar{
    width: 400px;
    height: 150px;
}
/**center-right**/
.center-right{
    float: right;
    height: 250px;
    width: 250px;
    margin-left: 0;
}
.center-a{
    float: left;
    width: 150px;
    height: 150px;
}
.center-upper{
    width: 150px;
    height: 100px;
    background-color: #dbd400;
}
.center-lower{
    width: 150px;
    height: 50px;
    background-color: #0093b7;
}
.center-c{
    float: right;
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}
/**end of center**//**right**/
.right{
    float: right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
/**end of right**/
/**left**/
.left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
/**end of left**/
/**end of contents**/
/**footer**/
.footer{
    height: 100px;
    background-color: #d98d30;
}
/**end of fotter**/

/**reset.css**/
*{
    margin: 0;
    padding: 0;
}
